<form enctype="multipart/form-data" method="post">
    <input type="text" id="UserName" name="UserName" placeholder="نام کاربری" />
    <input type="password" id="Password" name="Password" placeholder="رمز عبور" />
    <button type="submit">
        ورود
    </button>
</form>