<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-membership-AspNetCore.txt">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="File" name="allfile" fileName="d:\temp\membership\nlog-m-membership-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|" />

        <!-- another file log, only own Log. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="ownFile-web" fileName="d:\temp\membership\nlog-m-membership-own-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

        <target xsi:type="Database"
                name="LogDatabase"
                connectionString="${configsetting:item=NLogConnectionStrings.DefaultConnection}"
                commandText="Insert Into Log.MembershipLog ( DateTime,  Level,  Message,  RemoteIpAddress,  Scope,  Command,  Input,  Output,  ErrorDetails,  StackTrace,  ExceptionMessage)
                                                    values (@DateTime, @Level, @Message, @RemoteIpAddress, @Scope, @Command, @Input, @Output, @ErrorDetails, @StackTrace, @ExceptionMessage)">

            <parameter name="@DateTime" layout="${event-properties:item=DateTime}" />
            <parameter name="@Level" layout="${level}" />
            <parameter name="@Message" layout="${message}" />
            <parameter name="@RemoteIpAddress" layout="${event-properties:item=RemoteIpAddress}" />
            <parameter name="@Scope" layout="${event-properties:item=Scope}" />
            <parameter name="@Command" layout="${event-properties:item=Command}" />
            <parameter name="@Input" layout="${event-properties:item=Input}" />
            <parameter name="@Output" layout="${event-properties:item=Output}" />
            <parameter name="@ErrorDetails" layout="${event-properties:item=ErrorDetails}" />
            <parameter name="@StackTrace" layout="${event-properties:item=StackTrace}" />
            <parameter name="@ExceptionMessage" layout="${event-properties:item=ExceptionMessage}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="allfile" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
        <logger name="*" minlevel="Trace" writeTo="LogDatabase" />

        <!--Output hosting lifetime messages to console target for faster startup detection --><!--
        <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />-->
    </rules>
</nlog>